/* Mudanças para funcionar no mobile */
@media (max-width: 768px) {

    /* ======== Página Inicial e Barra de navegação ======== */
    /* Remoção do highlight ao interagir com algum botão */
    * {
    -webkit-tap-highlight-color:transparent;
    }

    body {
        background-image:url('/imagens/bg/circles.png');
        background-size:400%;
        background-color:#1C1612;
    }

    /* Ajuste do cabeçalho (header) no mobile */
    #main_menu {
        flex-direction:row;
        font-size:20px;
        position:relative;
        border:3px solid #18120f;
        height:402px;
        transition:height 0.3s ease;
    }

    /* Seta de abrir e fechar o menu no mobile */
    #main_menu .botao_seta {
        background:transparent;
        display:flex;
        position:absolute;
        font-size:40px;
        color:#faa844;
        border:0px;
        left:50%;
        bottom:-8px;
        transform:translateX(-50%) rotate(0deg);
        transition:transform 0.3s ease, bottom 0.3s ease;
    }
    
    /*Esconder as opções dentro do cabeçalho quando estiver fechado*/
    #main_menu.fechado {
        height:126px;
    }

    #main_menu.fechado nav {
        max-height:0px;
        overflow:hidden;
    }

    /*Rotacionar a seta quando o menu for fechado*/
    #main_menu.fechado .botao_seta {
        transform:translateX(-50%) rotate(180deg);
        bottom:-15px;
    }

    /*Ajustando a logo no mobile*/
    #main_menu .main_logo {
        max-width:300px;
        height:auto;
    }

    /*Ajustando as opções de navegação no mobile*/
    #main_menu nav {
        max-height:350px;
        overflow:hidden;
        transition:max-height 0.3s ease;
    }

    #main_menu nav ul {
        flex-direction:column;
        padding:20px 3px;
        display:flex;
        background-color:#241A10;
        border:2px solid #FA971F;
        border-radius:26px;
        gap:24px;
    } 

    /* Remove a animação da linha das opções no mobile */
    #main_menu nav ul li a:hover::after{
        width: 0%;
    }

    /* Conteudo Principal - Responsividade */
    .banner_principal {
        border-radius:10px;
        margin:20px auto;
    }

    .secao_conteudo {
        flex-direction:column !important;
        text-align:center;
        padding:25px;
    }

    .imagem_grande {
        max-width:100%;
        margin:0 auto;
    }

    .texto_container h2 {
        font-size:28px;
    }

    .texto_container p {
        font-size:16px;
    }
   
    /* ======== Contato ======== */

    .formulario {
    max-width: 420px;
    }

    .container {
        max-width: 100%;
        margin: 30px auto;
        padding: 0 20px;
    }

    .titulo-contato {
        margin-bottom: 30px;
    }

    .conteudo-contato {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .informacoes {
        width: 100%;
        margin-top: 0;
    }

    .formulario {
        width: 100%;
        max-width: 420px;
        margin-bottom: 80px;
    }

    .formulario input,
    .formulario textarea,
    .formulario button {
        width: 90%;
    }

    .formulario textarea {
        height: 160px;
    }

    /* ======== Novidades ======== */

    .novidade {
        padding: 20px;
    }

    /* Banner */
    .texto_banner {
        padding: 20px 10px;
    }

    .texto_banner h2 {
        font-size: 34px;
    }

    .texto_banner p {
        font-size: 17px;
    }

    /* Cartão de Evento */
    .card_novidade {
        width: 100%;
        margin: 30px auto;
        padding: 20px;
    }

    /* Image/Text sections */
    .conteudo_secao2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin: 40px 0;
    }

    /* Imagens */
    .imagem_secao {
        width: 100%;
        text-align: center;
    }

    .imagem_secao img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    /* Texto */
    .texto_secao {
        width: 100%;
    }

    .texto_secao h2 {
        font-size: 30px;
    }

    .texto_secao p {
        font-size: 18px;
    }

    /* ====== Produtos ====== */
    .conteudo_secao2:nth-child(even) {
        flex-direction: column;
    }

    #banner_produtos h1{
        font-size:44px;
    }

    .grade_produtos{
        grid-template-columns:1fr;
    }

    .card_produto img{
        height:200px;
    }




}