/* Mudanças para funcionar no mobile */
@media (max-width: 768px) {

    /* Ajuste do cabeçalho (header) no mobile */

    header {
        flex-direction:row;
        font-size:30px;
        position:relative;
        border:3px solid #18120f;
        height:390px;
        transition:height 0.3s ease;
    }

    /* Seta de abrir e fechar o menu no mobile */

    .botao_seta {
        background:transparent;
        display:flex;
        position:absolute;
        font-size:40px;
        color:#faa844;
        border:0px;
        left:50%;
        bottom:-7px;
        transform:translateX(-50%) rotate(0deg);
        transition:transform 0.3s ease;
    }

    /* Estados do cabeçalho (header) quando estiver com o menu fechado */

    header.fechado nav {
        max-height:0px;
    }

    header.fechado {
        height:124px;
        overflow:hidden;
    }

    header.fechado .botao_seta {
        transform:translateX(-50%) rotate(180deg);
        bottom:-15px;
    }

    .main_logo {
        max-width:300px;
        height:auto;
    }

    nav {
        max-height:280px;   /* Large enough to fit the whole menu */
        overflow:hidden;
        transition:max-height 0.3s ease;
    }


    nav ul {
        flex-direction:column;
        align-items:left;
        padding:3px 3px;
        display:flex;
    } 

}