* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#1C1612;
}

#main_menu {
    background-color:#1a130b;
    padding:20px;
    text-align:center;
    font-size:40px;
    border-radius:4px;
}

#main_menu .main_logo {
    max-width:480px;
    height:auto;
}

#main_menu .botao_seta {
    display:none;
}

#main_menu nav ul {
    gap:5px;
    padding:0px 0px;
    list-style:none;
    display:inline-flex;
    justify-content:center;
    background-color:#241A10;
    border:2px solid #FA971F;
    border-radius:26px;
}

#main_menu nav ul li a {
    text-decoration:none;
    background-color:#241A10;
    color:#4A3520;
    padding:6px 12px;
    border-radius:24px;
    display:flex;
    flex-wrap:wrap;
}

#main_menu nav ul li a:hover {
    color:#9e7145;
    transition:0.5s;
}

/* Destaque para a página que está sendo acessada no menu */
#main_menu .ativo {
    background-color:#FA971F;
    color:#1C1612;
}

/* Prevenindo para que o texto destacado não mude de cor */
#main_menu .ativo:hover {
    color:#1C1612;
}

