/* Removendo caixa inicial dos itens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#1C1612;
}

/* Adicionando Fontes */
@font-face {
    font-family:"elms";
    src:url('fonts/ElmsSans.ttf') format('truetype');
    font-weight:100 900;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family:"hakuna";
    src:url('fonts/HakunaSans.otf') format('opentype');
    font-style:normal;
    font-display:swap;
}

/* Cabeçalho */
#main_menu {
    background-color:#1a130b;
    padding:20px;
    text-align:center;
    font-size:40px;
    border-radius:4px;
    border-bottom:8px solid #18120f;
}

#main_menu .main_logo {
    max-width:480px;
    height:auto;
}

/* Escondendo botão do menu mobile */
#main_menu .botao_seta {
    display:none;
}

/* Opções de navegação */
#main_menu nav ul {
    display:flex;
    justify-content:center;
    gap:40px;
    list-style:none;
    border:none;
}

/* Texto nas opções de navegação */
#main_menu nav ul li a {
    text-decoration:none;
    position:relative;
    font-size:22px;
    padding:10px 0;
    transition:.3s;
    color:#F3E2C4;
    font-family:'hakuna';
}

/* Mudança no texto com o mouse em cima */
#main_menu nav ul li a:hover {
    color:#FA971F;
    transition:0.5s;
}

/* Linha animada */
#main_menu nav ul li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:0%;
    height:2px;
    background:#FA971F;
    transition:.3s;
}

/* Faz a linha crescer quando passa o mouse */
#main_menu nav ul li a:hover::after{
    width: 100%;
}

/* Destaque no link da página atual */
#main_menu nav ul li a.ativo{
    color:#FA971F;
    font-weight:bold;
}

/* Linha fixa no link da página atual */
#main_menu nav ul li a.ativo::after{
    width: 100%;
}